{% extends 'travel/base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-between">
<h1>All my Trips</h1>
<a href="#" class="btn btn-outline-info">Add Trip</a>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mt-0">
    {% for trip in trips %}
    <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <span class="badge rounded-pill {% if trip.is_completed %}bg-success{% else %}bg-secondary{% endif %} float-end">{% if trip.is_completed %}Completed{% else %}{{trip.start_date}}{% endif %}</span>
            <h5 class="card-title">{{trip.name}}</h5>
            <p class="card-text">{{trip.description}}</p>
            <a href="#" class="card-link">Manage</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Added at: {{trip.created_at}}</small>
          </div>
        </div>
      </div>
    {% endfor %}    
</div>

{% endblock content %}