{% extends 'travel/base.html' %} {% block content %}
<h1 class="text-center">{{trip.name}}</h1>
<div class="col-md-6 col-12">
  <div class="card border-primary h-100">
    <div class="card-body">
      <span class="badge rounded-pill {% if trip.is_completed %}bg-success{% else %}bg-secondary{% endif %} float-end"
        >{% if trip.is_completed %}Completed{% else %}{{trip.start_date}}{% endif %}</span
      >
      <h5 class="card-title">{{trip.name}}</h5>
      <p class="card-text">{{trip.description}}</p>
      <i>Start date: {{trip.start_date}}</i>
      <br>
      <i>End date: {{trip.end_date}}</i>
    </div>
    <div class="card-footer">
      <small class="text-muted">Added at: {{trip.created_at}}</small>
      <a href="{% url 'travel:trip_update' trip.id %}" class="float-end">Edit Trip</a>
    </div>
  </div>
</div>
<div class="col-md-6 col-12">
  <div class="card border-success h-100">
    <div class="card-body">
      <h5 class="card-title">Trip Mates</h5>
      {% if not trip.trip_mates.all %}No trip mates found{% endif %}
      {% for mate in trip.trip_mates.all %}
      <span class="badge bg-secondary">{{mate.email}}</span>
      {% endfor %}
    </div>
    <div class="card-footer">
      <a href="{% url 'travel:trip_mate_add' trip.id %}" class="float-end">Edit Mates</a>
    </div>
  </div>
</div>
<div class="col-md-6 col-12 mt-4">
  <div class="card border-info h-100">
    <div class="card-body">
      <h5 class="card-title">Trip Budget - {{trip.budget.name}}</h5>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Label</th>
            <th scope="col">Quantity</th>
            <th scope="col">Item Price</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for budget in trip.budget.budgetitem_set.all %}

          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{budget.label}}</td>
            <td>x{{budget.quantity}}</td>
            <td>${{budget.item_price}}</td>
            <td>${{budget.get_subtotal}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <b>Total: ${{trip.budget.get_total}}</b>
      <a href="{% url 'travel:budget_detail' trip.id %}" class="float-end">Edit Budget</a>
    </div>
  </div>
</div>
<div class="col-md-6 col-12 mt-4">
  <div class="card border-danger h-100">
    <div class="card-body">
      <h5 class="card-title">Destinations</h5>
      {% if not trip.destinations.all %}<p class="text-muted">Not any destinations added to the trip</p>{% endif %}
      <ul class="list-group">
          {% for destination in trip.destinations.all %}
          <li class="list-group-item">
            <div class="float-start">
              <p>{{destination.name}}</p>
              <p>{{destination.description}}</p>
            </div>
            <img src="{{destination.image.url}}" alt="" width="64" class="float-end">
          </li>
          {% endfor %}
      </ul>
    </div>
    <div class="card-footer">
      <a href="{% url 'travel:trip_destination_add' trip.id %}" class="float-end">Manage Destinations</a>
    </div>
  </div>
</div>

{% endblock content %}</div>
